
*{
    margin: 0;
    padding: 0;
    text-decoration:none ;
    list-style: none;
}
#banner{
    width:100%;
    max-width:1200px;
    aspect-ratio: 2/1;
    border:3px solid #999;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#imglist{
    /*width:3200px;*/
    height:100%;
    display: flex;
    transition: margin-left 0.3s ease;
}

#imglist>div{
    flex-shrink: 0;
width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover ;
    position:relative;
    background-position: center;
}

h1{
    position: absolute ;
    bottom:20px;
    left:20px;
    color:green;
    opacity:0.8;
    margin:0;
}

.context {
display: flex;
   max-width: 1200px;
    margin:20px auto 0;
    padding:0 10px;
  gap:20px;
    flex-wrap: wrap;
    border:1px solid white;
    & :link{
        color:lightpink;
    }
    & :visited {
         color:greenyellow;
     }
    & :hover {
        color:yellow;
    }
    >a{
        font-weight:bold;
    }
 .con{ background:crimson;
     flex: 1 1 280px;
     min-width: 260px;
     border:1px dotted gray;
     border-radius: 10px;
     transition: all 0.3s steps(3);
 }
}

.but{
    background-color: grey;
    color: white;
    width: 30px;
    height: 30px;
    position:absolute;
    text-align: center;
    bottom : 50%;
    border-radius: 30px;
    cursor: pointer;
}
.but1{
    left:0;
}
.but2 {
    right: 0;
}